{% extends 'event/base.html' %}

{% load staticfiles %}

{% block style %}

.myHeader1 {
    background-image: none;
    min-height: 100vh;
    top: 0;
}

.event-list{
    position: relative;
    margin-top: 5%;
    height: 100%;
    width: 100%;
}

.event-inner{
    padding: 2%;
}

.event-inner .no-result {
    margin-left: 20%;
}

.myform {

    margin-left: 20%;
}


.test{
    width: 50%;
}

.image-list {
    width: inherit;
    height: auto;
    box-shadow: 2px 2px 5px #222;
}

{% endblock %}


{% block heroText %}

<div class="event-list">
    <div class="event-inner">
        <form class="form-inline mt-2 mt-md-0 myform">
            <input class=" test mr-sm-2" name='q' type="text" placeholder="Search by City, state, zip, event-name" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0 mybtn" type="submit">Search</button>
    </form>
        <br><br>
    <p class="no-result">{{text}}</p>
    {% for event in event_list %}
        <div class = " col-lg-4 all-events ">
            <h3><a href="{{ event.title.get_absolute_url }}">{{ event.title |truncatechars:20}}</a></h3>
            <p>{{ event.city }}, {{ event.states }} {{event.zip_code}} </p>
            <img class= "image-list" src="{% static 'img/hardwell.jpg'%}"/>
        </div>
    {% endfor %}

<!--<form action="">-->

    <!--<input name="q" type="text">-->
    <!--<input type="submit" value="Search">-->

<!--</form>-->
    </div>
</div>
{% endblock %}